body{
    background-color:hotpink; 
}
.color-contact{
    color: aliceblue;
    width: 50%;
    text-align: center;
    margin-top: 10%;
}
.flex{
    display: flex;
    
}
.map-length{
    width: 50%;
    border-color: blue;
    margin-top: 5%;
    margin-right: 0%;
  
}
.our-course{
    display: flex;
}
.learn-html{
    width: 50%;
    background-color: orange;
    padding-bottom: 30%;
}
.shopping-list{
    width: 50%;
    background-color: white;
    

}
.shopping-list li{
    list-style: lower-alpha;
}